[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pandas = "*"
transformers = "*"
torchvision = "*"
torchaudio = "*"
torch = "*"
soundfile = "*"

[dev-packages]

[requires]
python_version = "3.13"
